.container {
    max-width: 800px;
    margin: 0 auto;
}
.row {
    width: 100%;
    margin-bottom: 1em;
}
#upload {
    border: 2px dashed blue;
    padding: 1em 0;
    cursor: pointer;
}
label {
    width: 75px;
    display: inline-block;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table tr {
    border-bottom: 1px solid #ececec;
}
table tr td img {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
table tr:nth-child(2n+1) {
    background-color: #eceff1;
}
td {
    padding: 0 1em;
}
input[type='range'] {
    cursor: pointer;
    width: 60%;
}
button {
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
#my-form {
    display: none;
}
#table-row {
    display: none;
}
a.btn { background-color: #607d8b; padding: 0.5em; color: white; margin: 1px 1px 1em; }
a.btn:hover { cursor: pointer; background-color: #78909c; }
a.btn i { font-size: 0.7em; }

#resized-list {
    display: none;
}